@model ApexDataApi.Models.Character

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div>
    <div class="avatarlarge">
        <img src="@Url.Content("~/Content/Images/characters/" + Model.Image)" />
    </div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CharacterName" class="control-label">Character Name: </label>
                <input asp-for="CharacterName" class="form-control" />
                <span asp-validation-for="CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Image: </label>
                <input type="text" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="IndexAdmin">Back to List</a>
</div>